:root {
  --accent-color: #ff6600;
  --accent-shadow-color: #e05a00;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #000;
	font-size: 2rem;
	margin-bottom: 20px;
	font-weight: 900;
	text-transform: uppercase;
}

.container {
	height: 100vh;
	background: #ffeec980; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 

.drums {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  width: 75vw;
  max-width: 640px;
}

.key {
	text-align: center;
	margin: 1rem;
	padding: 1rem;
	min-width: 4rem;
	min-height: 4rem;
	background: #fff;
	border-radius: 1rem;
	transition: all 0.1s;
  box-shadow: 0 10px 15px -5px #e05a0099;
  cursor: pointer;
  user-select: none;
}

.key.playing {
	background-color: var(--accent-color);
	transform: scale(1.1);
}

.key:hover {
	background-color: var(--accent-color);
  box-shadow: 0 10px 15px -5px var(--accent-shadow-color);
}

.key > h3 {
	color: #000;
	font-size: 2rem;
	margin-bottom: 5px;
	font-weight: 900;
	text-transform: uppercase;
}

.key:hover > h3,
.key.playing > h3 {
	color: #fff;
}

.key > p {
	font-size: 0.75rem;
	color: var(--accent-color);
	text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.key:hover > p,
.key.playing > p {
	color: #fff;
}