:root {
  --accent-color: #ff6600;
}

* {
	padding: 0;
	margin: 0;
  user-select: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	height: 100vh;
	background: #ffeec980; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 

.drums {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.key {
	text-align: center;
	margin: 1rem;
	padding: 1rem;
	min-width: 4rem;
	min-height: 4rem;
	background: #222;
	border-radius: 1rem;
	transition: all 0.1s;
  box-shadow: 0 10px 15px -5px #e05a0099;
  cursor: pointer;
}

.key.playing {
	background-color: var(--accent-color);
	transform: scale(1.1);
}

.key:hover {
	background-color: var(--accent-color);
  box-shadow: 0 10px 15px -5px #e05a00;
}

.key:hover > p {
	color: #000;
}

.key > h3 {
	color: #ffffff;
	font-size: 2rem;
	margin-bottom: 5px;
	font-weight: 900;
	text-transform: uppercase;
  text-shadow: 0 2px 2px #000000aa;
}

.key > p {
	font-size: 0.75rem;
	color: var(--accent-color);
	text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.key.playing > p {
	color: #000;
}

@media only screen and (max-width: 600px) {
  .key {
    margin: 0.5rem;
  }
}