:root {
  --accent-color-pink: hsl(288, 100%, 67%);
  --accent-shadow-color: hsl(210, 90%, 33%);
  --accent-color: hsl(195, 100%, 67%);
}

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(195, 20%, 10%);
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, hsl(195, 20%, 10%) 30px ), repeating-linear-gradient( hsla(195, 20%, 20%, 0.5), hsl(195, 20%, 20%) ), repeating-radial-gradient( circle at 0 0, transparent 0, hsl(288, 100%, 70%) 30px );
  font-family: 'Kurale', serif;
}

h1 {
	color: hsla(195, 80%, 56%, 1);
	font-size: 2rem;
	margin-bottom: 10px;
	font-weight: 900;
	text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Kurale', serif;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  overflow: hidden;
} 

.drums {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  width: 85vw;
  max-width: 640px;
}

.btn {
	text-align: center;
	margin: 0.5rem;
	padding: 1rem 0.5rem;
	width: 5rem;
	height: 5rem;
  background-color: hsla(195, 10%, 5%, 0.5);
  background-blend-mode: multiply;
	border-radius: 1rem;
  box-shadow: 0 15px 20px -5px hsla(195, 10%, 65%, 0.6), inset -7px -7px 10px #000;
  cursor: pointer;
  user-select: none;
	transition: background-color 0.1s ease;
  animation: none;
}

.btn.morph {
  opacity: 0;
  animation-name: morph;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.btn.morph:nth-child(1) { animation-delay: 0.1s; }
.btn.morph:nth-child(2) { animation-delay: 0.2s; }
.btn.morph:nth-child(3) { animation-delay: 0.3s; }
.btn.morph:nth-child(4) { animation-delay: 0.4s; }
.btn.morph:nth-child(5) { animation-delay: 0.5s; }
.btn.morph:nth-child(6) { animation-delay: 0.6s; }
.btn.morph:nth-child(7) { animation-delay: 0.7s; }
.btn.morph:nth-child(8) { animation-delay: 0.8s; }
.btn.morph:nth-child(9) { animation-delay: 0.9s; }

.btn:hover,
.btn[data-playing=true] {
	background-color: var(--accent-color);
  box-shadow: 0 10px 15px -5px hsla(195, 100%, 10%, 1), inset -5px -5px 10px hsla(195, 0%, 15%, 0.9);
}

.btn[data-playing=true] {
  animation-name: active;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.btn > h3 {
	color: hsla(195, 80%, 80%, 1);
	font-size: 1.5rem;
	margin-bottom: 5px;
	font-weight: 900;
	text-transform: uppercase;
  font-family: 'Ranchers', cursive;
}

.btn:hover > h3,
.btn[data-playing=true] > h3 {
	color: hsl(195, 80%, 5%);
}

.btn > p {
	font-size: 0.75rem;
	color: var(--accent-color);
	text-transform: uppercase;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

.btn:hover > p,
.btn[data-playing=true] > p {
	color: #000;
}

@keyframes morph {
  from {
    transform: scale(0) rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes active {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
	  transform: scale(1.2) rotate(5deg);
  }
}

/**********/
/* Footer */
/**********/

footer {
  font-size: 1rem;
	color: hsla(195, 80%, 40%, 1);
  text-align: center;
}

footer > a {
	color: hsla(195, 80%, 40%, 1);
  transition: all 0.2s ease;
}

footer > a:hover {
  color: var(--accent-color);
  transition: all 0.2s ease;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-30 {
  margin-top: 30px;
}